@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: black;
}
.wrapper{
  margin: auto;
  margin-top: 30%;
  background: #252525;
  padding: 20px;
  width: 450px;
  border-radius: 30px;
  border-left: 10px solid #933ded;
}
h1,.links{
  text-align: center;
  color:#933ded;
}
a{
  text-decoration: none;
  color:#fff;
}
.wrapper form{
  height: 55px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

form input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 50px 0 45px;
  font-size: 20px;
  border: 2px solid #933ded;
  border-radius: 25px;
  transition: all 0.1s ease;
}
form input::selection{
  color: #fff;
  background: #58cff1;
}
form input:focus,
form input:valid{
  border-color: #58cff1;
}
form input::placeholder{
  color: orange;
}
form .counter{
  position: absolute;
  right: 3px;
  width: 55px;
  font-size: 20px;
  color: orange;
  text-align: center;
  border-left: 1px solid #d8d8d8;
  pointer-events: none;
}
form input:valid ~ .counter{
  color: #58cff1;
  border-color: #58cff1;
}
