ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 background-color: grey;
 opacity: 0.8;
border-radius: 15px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



body{
 /* background-image: url(https://wallpaperaccess.com/full/109666.jpg);
  background-repeat: no-repeat;
  background-size: cover;*/
}

button{
  float: right;
 margin-bottom: 15px;
  padding: 7px;
  color: black;
  opacity: 0.7;
}



.dark-mode {
  background-color: #2d2d2d;
  color: white;
}

.jumbotron{
width: 400px;
margin-left: 100px;
border-radius: 35px;
 background-image: url(https://cdn.hipwallpaper.com/i/68/23/N1d3Rg.jpg);
 margin-top: 150px;
 margin-left: 400px;


}

input,p{
  margin-bottom: 20px;
  color: black;
}

h1{
  margin-top: 10px;
  color: skyblue;
  margin-left: 50px;
}