<nav class="navbar navbar-inverse" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/feedback-form" style="background-color:transparent; color:#933ded; border-left: 6px solid red;background-color: lightgrey;border-radius: 25px;">invoice-form</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active current"><a routerLink="/feedback-form" style="background-color:transparent; color:#933ded; border:1px solid white;border-radius: 25px;padding: 5px;margin-top: 8px;">BILL-GENERATE</a></li>
        <li routerLinkActive="active current"><a routerLink="/response" style="background-color:transparent; color:#933ded; border:1px solid white;border-radius: 25px;padding: 5px;margin-top: 8px;margin-left: 5px;">BILL-SHEET</a></li>
      </ul>
    </div>
  </div>
</nav>
